@charset "utf-8";

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-size: 0.9rem;
}
a {
  text-decoration: none;
  color: #333;
}
#header {
  height: 50px;
  position: relative;
  line-height: 50px;
}
#header h1 {
  position: absolute;
  left: 0;
}
#header h1 a img {
  width: 50px;
}
#menu {
  text-align: right;
  /* 인라인요소라 가능 */
}
#menu a {
  margin-right: 10px;
  font-weight: bold;
}
#menu button {
  border: none;
  background: none;
  vertical-align: middle;
}
/* vertical-aling:middle / top / bottom  수직정렬
이미지를 기준으로 옆의 글씨를 top middle bottom 에 맞추느냐 3가지밖에 못함
표 안에서도 가능 정가운데 > text-align : center + vertical-align : middle */
button img {
  width: 55%;
}

/* 햄버거 메뉴 시작 */

.head {
  position: relative;
}
.menu ul {
  padding: 0 10px 0;
  height: 100%;
}
.menu {
  z-index: 100000;
  font-weight: bold;
  font-size: 0.8rem;
  height: 100%;
  position: fixed;
  width: 75%;
  top: 0;
  background: #fff;
  /* right: 0; */
  right: -75%;
}
.mm > li {
  /* 메인메뉴 ul */
  padding: 15px 0;
  border-bottom: 1px solid #ece6e3;
  position: relative;
  text-indent: 20px;
}
.mm li img {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 15px;
}
.menu .mm li a {
  color: #483834;
  font-size: 13px;
}

.head {
  height: 50px;
  background-color: #fe7c98;
  line-height: 50px;
}
.head > ul > li {
  margin-right: 1rem;
}
.head > ul > li:last-child {
  margin-right: 0;
}
.fr {
  padding-left: 10px;
}

.head ul li {
  float: left;
}
.head ul .search {
  float: right;
  text-align: right;
  width: 10rem;
  padding-top: 13px;
}
.search img {
  width: 55%;
}
.head a {
  color: #fff;
}

.sub {
  text-align: center;
  display: none;
}
.sub li {
  padding: 0;
}
.sub li a {
  padding: 3px 0;
  display: block;
}
.sub {
  padding: 0 15px;
}
.sub > li {
  height: 40px;
  line-height: 40px;
  text-align: left;
  text-indent: 15px;
}
.sub li {
  border-bottom: 1px solid#ece6e3;
}
.sub li:last-child {
  border-bottom: none;
}
.cross {
  background: none;
  position: absolute;
  top: 0;
  left: -40px;
  padding: 0 15px 0;
  color: #666;
  border: 0;
  font-size: 3.5rem;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 999999;
  display: none;
}

/* nav 끝 -햄버거매뉴 끝 */

#main {
  width: 100%;
}
#main img {
  width: 100%;
}
#slide {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#slide img {
  width: 100%;
}
#slide ul {
  position: relative;
  left: 0;
  width: 300%;
}
#slide ul li {
  width: 33.33%;
  float: left;
}

#roll {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
#roll a {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 5px;
}
#roll a:nth-child(3) {
  margin-right: 0;
}
#roll .on {
  background-color: #000;
}

/* section 시작 */

#list {
  width: 95%;
  margin: 0 auto 3rem;
  position: relative;
  padding-bottom: 3rem;
}
#list li {
  float: left;
  width: 50%;
  padding-right: 3px;
}
#list h3 {
  text-align: center;
  margin: 2rem 0;
}
span {
  display: block;
  height: 20px;
}
.im {
  margin: 10px 0 8px 0;
}
.im img {
  height: 18px;
}
.txt1 {
  font-size: 10px;
}
.txt {
  font-size: 11px;
}
#list ul > li a > img {
  width: 100%;
}
#roll2 {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
#roll2 a {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: tomato;
  margin-right: 5px;
}
#roll2 a:nth-child(3) {
  margin-right: 0;
}
#roll2 .active {
  background-color: purple;
}
#list1 {
  background: url(../../BR/back.jpg) no-repeat;
  background-size: cover; /* 배경 사이즈 조절: x y ; cover */
}
#list1 h3 {
  text-align: center;
  padding: 2rem 0;
}
.ban {
  text-align: center;
}
.ban img {
  width: 90%;
}
#store {
  text-align: center;
}
#store h3 {
  text-align: center;
  padding: 2rem 0;
}
#store img {
  width: 95%;
}
#deli {
  text-align: center;
}
#deli h3 {
  text-align: center;
  padding: 2rem 0;
}
#deli img {
  width: 95%;
}
#sns {
  text-align: center;
}
#sns h3 {
  text-align: center;
  padding: 2rem 0;
}
#sns ul {
  text-align: center;
}
#sns ul li {
  display: inline-block;
}
#sns ul li img {
  width: 50px;
  margin-right: 10px;
}
#sns ul li:last-child img {
  margin-right: 0;
}
.line {
  position: relative;
  text-align: center;
  padding: 40px 16px 0 16px;
  margin-bottom: -14px;
}
.line img {
  height: 100%;
}
.line:before {
  position: absolute;
  top: 23px;
  left: 4.4%;
  display: inline-block;
  text-align: center;
  content: "";
  width: 91.2%;
  height: 1px; /* 직선에 배경색 입힌것*/
  background-color: #dcd7d1;
}
.line a {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  height: 8px;
  text-align: center;
  z-index: 9;
}
#listimg {
  width: 97%;
  margin: 3rem auto;
}
#listimg ul li {
  float: left;
  width: 50%;
  padding-right: 3px;
  padding-bottom: 2px;
}
#listimg ul li img {
  width: 100%;
}

/* 섹션 끝 */

/* 푸터 시작 */

#footer {
  border-top: 1px solid #ffb02d;
  margin-top: 20px;
  padding: 0 10px;
}
#fmenu {
  padding: 20px 0;
}
#fmenu li a {
  color: #726454;
  font-size: 0.7rem;
}
#fmenu li {
  float: left;
  padding-right: 4px;
}
a.pr {
  color: #ff7c98 !important;
  font-weight: bold;
}
.foot li {
  width: 16.66%;
  float: left;
  padding-left: 3px;
}
.foot li a {
  display: block;
  width: 100%;
  height: 80px;
  padding: 5px 0 5px;
  border-radius: 5px;
  border: 1px solid #d1cecc;
  color: #726454;
  font-size: 10px;
  text-align: center;
  line-height: 1.1;
}
.foot li img {
  /* height: 24px; */
  width: auto;
}
.foot span {
  display: block;
}
.fs {
  padding-bottom: 15px;
}
.customer {
  width: 66%;
  float: left;
  padding-top: 20px;
}
.center {
  padding-right: 10px;
  float: left;
}
.tel {
  float: left;
}

.center a {
  width: 81px;
  height: 30px;
  border-radius: 3px;
  background-color: #d3c1ab;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  display: block;
}
.tel a {
  height: 30px;
  padding-left: 25px;
  color: #c8baa9;
  font-weight: bold;
  font-size: 13px;
  background: url(../../BR/icon_customer_center.gif) no-repeat 0 50%;
  background-size: 20px 20px;
  line-height: 30px;
}
.site {
  position: relative;
  float: right;
  width: 33%;
  background-color: #fff;
  padding: 16px 0 0 0;
  z-index: 10;
}
.site ul {
  display: none;
  position: absolute;
  left: 0;
  bottom: 28px;
  width: 100%;
  padding: 5px 0;
  border-radius: 5px 5px 0 0;
  border: 1px solid#d1cecc;
  background: #fff;
}
.site a {
  display: block;
  height: 25px;
  padding-left: 15px;
  color: #726454;
  line-height: 25px;
}
.site button {
  width: 100%;
  height: 32px;
  padding-left: 11px;
  border-radius: 5px;
  border: 1px solid#d1cecc;
  background: transparent url(../../BR/family_size_off.png) no-repeat 100% 0;
  color: #b1ab9f;
  font-size: 9px;
  text-align: left;
  box-shadow: 2px 2px 2px 0px rgb(234, 233, 232);
}
.info {
  float: left;
  padding: 10px 0 30px;
  color: #635b56;
  font-size: 11px;
  line-height: 1.6;
}
.info1,
.info2 {
  float: left;
  margin-right: 15px;
}
address {
  clear: both;
  float: left;
  margin-right: 15px;
}
